# App Configuration
PROJECT_NAME="Finance Dashboard"

# Security
SECRET_KEY="your_secret_key_here_change_in_production"

# Database Configuration
DATABASE_URL=postgresql://db_user:db_password@db:5432/finance_db